@font-face {
	font-family: Arima;
	font-display: swap;
	src: url( "../fonts/Arima-VariableFont_wght.woff2" ) format( "woff2" ), url( "../fonts/Arima-VariableFont_wght.woff" ) format( "woff" );
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Lora;
	font-display: swap;
	src: url( "../fonts/Lora-Italic-VariableFont_wght.woff2" ) format( "woff2" ), url( "../fonts/Lora-Italic-VariableFont_wght.woff" ) format( "woff" );
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OuterSans;
	font-display: swap;
	src: url( "../fonts/OuterSans-Thin.woff2" ) format( "woff2" ), url( "../fonts/OuterSans-Thin.woff" ) format( "woff" );
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Lora;
	font-display: swap;
	src: url( "../fonts/Lora-VariableFont_wght.woff2" ) format( "woff2" ), url( "../fonts/Lora-VariableFont_wght.woff" ) format( "woff" );
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url( "../fonts/Roboto-Regular.woff2" ) format( "woff2" ), url( "../fonts/Roboto-Regular.woff" ) format( "woff" );
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url( "../fonts/Roboto-Light.woff2" ) format( "woff2" ), url( "../fonts/Roboto-Light.woff" ) format( "woff" );
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url( "../fonts/Roboto-Black.woff2" ) format( "woff2" ), url( "../fonts/Roboto-Black.woff" ) format( "woff" );
	font-weight: 900;
	font-style: normal;
}
