@import 'fonts';

body {
    background-image: url( '@img/5.png' );
    background-position: top center;
    background-color: #2b2b2b;

    padding: 20px;

    font-family: OuterSans;
    font-size: 30px;
}