html {
    background: url( '@img/test.png' );
    padding: 20px;
}

@media (max-width: 2000px) {
    span {
        color: red;
    }
}

@media (max-width: 2000px) {

    body {
        background-color: #000;
        color: #fff;
    }
    
}